{% extends 'layout.html' %}
{% load static %}

{% block main %}
   
    <div class="wrapper people_wrapper"> 
        <div class="main-section">
            <!-- <div class="top-section">
            </div> -->
            <div class="content-section">
                <!-- <div class="left-content-section">
                </div> -->
                <div class="middle-content-section">
                    <div class="contentDiv">
                        <div class="inner">
                        
                            
                            <p>TEST</p>
                            <p>TEST</p><p>TEST</p><p>TEST</p><p>TEST</p><p>TEST</p>
                            {{ profile }}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            

       

{% endblock %}